.header_parent {
  width: 100%;
  background-color: #ebdfc6;
  position: fixed;
  top: 0;
  z-index: 2;

  .header_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 70px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .navlinks {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      gap: var(--gap, 24px);

      a {
        text-decoration: none;
        color: #172541;
        padding: 0 4px;

        &:hover {
          color: #d6b161;
        }
      }
    }

    .hamburger {
      cursor: pointer;
      display: none;

      svg {
        font-size: 24px;
      }
    }

  }

  .mobile_responsive {
    width: 100%;
    height: calc(100vh - 90px);
    // background-color: black;
    background-color: #ebdfc6;
    position: fixed;
    top: 90px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);

    a {
      text-decoration: none;
      color: #172541;
      padding: 0 4px;

      &:hover {
        color: #d6b161;
      }
    }

  }
}

@media only screen and (max-width: 770px) {
  .header_parent {
    .header_cont {
      .navlinks {
        display: none;
      }


      .hamburger {
        display: flex;
      }
    }
  }
}