.header_parent {
    width: 100%;
    background-color: #ebdfc6;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header_cont {
    display: flex;
    align-items: center;
    padding: 0;
}

img{
    height: 90px;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: var(--gap, 24px);
}

.navlinks a {
    text-decoration: none;
    color: #172541;
    padding: 0 4px;

    &:hover {
        color: #d6b161;
    }
}
