.header_parent {
    width: 100%;
    background-color: rgba(0, 82, 145, 1);
    box-shadow: 0px 0px 18px black (0, 0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 2;
}

.header_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

img{
    height: 90px;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap, 18px);
}

.navlinks a {
    text-decoration: none;
    color: white;

    &:hover {
        color: black;
    }
}