:root {
  --gap:14px;
  --max-width: 1400px;
  --accent:#d6b161;
}

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.parent {
  width: 100%;

  .cont {
    max-width: var(--max-width);
    margin: 0px auto;
    padding: 0px 10px;
  }
}

.bg-img-cover{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
